<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="https://colab.research.google.com/drive/1HbRAtip572Eh0PGRF-oOBiq1sh4R8cHb#scrollTo=Hb3TDsp_RujW">GO TO MODEL PREDICTER</a>
</body>
</html>