<!doctype html>
<html lang="en">

<head>
    <title>Consultation</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Smooch+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <link rel="stylesheet" href="/stylesheets/bookasession.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/flash.css">
</head>

<%- include('./flash') %>
<body class="bookasession">

    <%- include('./navbar') %>

    <div class="container mt-4 p-4">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center my-4">
                    Find Consultations
                </h2>
                <form>
                    <div class="form-group row">
                        <label class="col-sm-4 col-lg-4">
                            Patient Name
                        </label>
                        <div class="col-sm-8 col-lg-8">
                            <input type="text" id="patient-name" class="form-control" placeholder="Name" required>
                        </div>
                    </div>
                    <!---->
                    <div class="form-group row">
                        <label class="col-sm-4 col-lg-4">
                            Contact
                        </label>
                        <div class="col-sm-8 col-lg-8">
                            <input type="tel" id="contact" class="form-control" placeholder="123" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-lg-4">
                            Date
                        </label>
                        <div class="col-sm-8 col-lg-8">
                            <input type="date" id="date" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-lg-4">
                            Time
                        </label>
                        <div class="col-sm-8 col-lg-8">
                            <input type="time" id="time" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row justify-content-end">
                        <div class="col-sm-5">
                            <button type="submit" class="btn btn-form">
                                Confirm
                            </button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-md-6">
                <h2 id="services" class="text-center my-4"></h2>
                <ul id="consultations" class="list-group"></ul>
            </div>
        </div>
    </div>

    <script src="/javascripts/bookasession.js"></script>
    <script src="/javascripts/flash.js"></script>
    <script src="/javascripts/navbar.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>