<nav class="navbar">
    <a href="/" class="nav-logo">Minds Master</a>
    <ul class="nav-menu">
        <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a href="/bookasession" class="nav-link">Booking Session</a>
        </li>
        <li class="nav-item">
            <a href="/analysis" class="nav-link">Ask</a>
        </li>
        <li class="nav-item">
            <a href="/faqs" class="nav-link">FAQ</a>
        </li>
    </ul>
        <div class="navcontent">
            <% if(!user_id) { %>
            <!-- <a href="/register"><button class="nav-button">Register</button></a> -->
            <a href="/login"><button class="nav-button login-btn">SignUp / In</button></a>
            <% } else {%>
            <a href="/logout"><button class="nav-button logout-btn">Logout</button></a>
            <% } %>
        </div>
    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</nav>