body {
    margin: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.faq-heading {
    font-size: 3rem;
    opacity: 0.8;
    font-weight: 700;
    text-align: center;
}

.container-faq {
    margin-top: 3.5rem;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
}

.accordion {
    border-radius: 8px;
    align-items: center;
    padding: 2rem;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
}

.faq {
    margin: 10px 0;
    width: 80%;
    background-color: #f7f7f7;
}

.faq:last-child {
    border: none;
}

.faq__question {
    font-weight: bold;
    box-sizing: border-box;
    padding: 30px 20px;
    width: 100%;
    transition: background-color 0.3s;
    font-size: large;
    background-color: #7a9e9f;
    border-radius: 8px;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .faq__question:hover {
    background-color: #e0e0e0;
} */

.faq__answer {
    padding: 20px 20px;
    background-color: #35313f;
    width: 80%;
    text-align: justify;
    display: none;
}

.faq.active .faq__question {
    color: #fff;
}

.faq.active .faq__answer {
    display: block;
}

.faq__button {
    position: relative;
    cursor: pointer;
}

.faq__answer-0,
.faq__answer-1,
.faq__answer-2,
.faq__answer-3 {
    font-size: 1.5rem;
    padding: 2rem;
}

@media (max-width: 768px) {
    .accordion {
        padding: 1rem;
    }

    .faq__question {
        font-size: 1rem;
        height: 5rem;
    }

    .faq__answer {
        padding: 1rem;
        text-align: justify;
    }

    .faq-heading {
        text-align: center;
    }
}