:root {
    --color-1: #b8d8d8;
    --color-2: #7a9e9f;
    --color-3: #4f6367;
    --color-4: #eef5db;
    --color-5: #fe5f55;
}

::placeholder {
    font-family: Poppins;
}

body {
    margin: 0;
    color: var(--color-4);
    font-family: Poppins;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-3);
}

.card {
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--color-2);
    width: 370px;
    height: 600px;
    z-index: 2;
    padding: 5%;
    box-sizing: border-box;
}

.upper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h1 {
    font-size: 2rem;
    margin: 0;
}

.card h2 {
    font-size: 1.1rem;
    padding-top: 0rem;
    margin: 0;
}

.card p {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
}

.buttons-login-type {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    flex-wrap: wrap;
}

form {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

input {
    display: flex;
    border: none;
    outline: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    border-radius: 2vh;
    padding: 0.2rem 1rem;
    height: 4vh;
    margin: 0.2rem;
}

.input-div {
    width: 90%;
}

.text-box {
    padding: 0.35rem;
    margin: 0.2rem;
}

button {
    font-size: 1rem;
    background-color: #0a0a23;
    color: var(--color-4);
    border: none;
    border-radius: 10px;
    padding: 15px;
    min-height: 30px;
    min-width: 120px;
}

.buttons-login-type .active {
    background-color: var(--color-5);
}

.quotes {
    position: absolute;
    z-index: 0;
    font-size: 1.2rem;
}

#q1 {
    transform: translate(-20vw, 10vh);
}

#q2 {
    transform: translate(-20vw, 25vh);
}

#q3 {
    transform: translate(-20vw, 40vh);
}

#q4 {
    transform: translate(50vw, -25vh);
}

#q5 {
    transform: translate(50vw, -10vh);
}

#q6 {
    transform: translate(50vw, 5vh);
}

.buttons-login-type button {
    background-color: transparent;
}

/* #registerForm,
label {
    display: none;
} */

#loginForm,
label {
    display: none;
}

.submit-btn {
    margin-top: 0.4rem;
}


/* @media (max-width: 768px) {
    .quote {
        display: none;
    }

    body {
        font-size: 16px;
    }

    input {
        width: 50vh;
    }

    .card {
        width: 80vw;
        height: 80vh;
    }

}


@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    .card {
        width: 90vw;
        height: 80vh;
    }

} */